@import "../../css/colors.css";
@import "../../css/units.css";

.tag-button {
    padding: .625rem 1rem;
    background: $looks-secondary;
    border-radius: 0.5rem;
    color: white;
    height: $library-filter-bar-height;
    transition: filter 0.15s ease-out, opacity 0.15s ease-out;
}

.tag-button:hover {
    filter: brightness(0.95);
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background: $data-primary;
}
